.courses-list {
    padding: 25px;
}

.course-list--empty {
    text-align: center;
}

.courses-loading {
    display: inline-block;
    font-size: 25px;
}

.manipulation {
    margin-bottom: 25px;
}
.manipulation-form {
    position: relative;
    width: 50%;
    display: inline-block;
}
.manipulation-form__search {
    width: 50%;
    margin-right: 25px;
    display: inline-block;
}

.manipulation-form__find {
    text-transform: uppercase;
    padding: 5px 30px;
}

.manipulation__addCourse {
    position: absolute;
    right: 40px;
    padding: 5px 40px;
    text-transform: uppercase;
}


.course-item-animated-leave {
    position: relative;
    left: 0;
    max-height: 200px;
}

.course-item-animated-leave.course-item-animated-leave-active {
    transition: 1s left, 2s max-height;
    left: -150%;
    max-height: 0;
    margin-bottom: 0;
}



