.course {
    position: relative;
    left: 0;
    max-height: 200px;
}

.course.removing{
    transition: 1s left, 2s max-height;
    left: -150%;
    max-height: 0;
    margin-bottom: 0;
}

.course__name,
.course__duration,
.course__date{
    display: inline-block;
    width: 30%;
}

.course__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    padding-right: 10px;
}

.course__name,
.course__label {
    font-weight: bold;
}

.course__body {
    font-size: 0;
    height: 140px;
    overflow: hidden;
}
.course__description,
.course-editing {
    display: inline-block;
    font-size: 14px;
}

.course__description {
    width : 85%;
    vertical-align: top;
}
.course-editing {
    width: 15%;
}

.course-editing__button {
    display: block;
    width: 50%;
    padding: 5px 10px;
    white-space: normal;
    margin: 0 auto 10px;
}

@media screen and (max-width: 780px ){
    .course-editing__button {
        font-size: 0;
    }
    .course-editing__button .glyphicon {
        font-size: 12px;
    }
}